{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Vaše uporabniško ime in geslo se ne ujemata. Prosimo, poskusite ponovno!</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Vaš račun nima dostopa do te strani!</p>
{% else %}
<p>Prosimo, prijavite se!</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>

        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <button type="submit" value="login" class="btn btn-primary">Pošlji</button>
    <input type="hidden" name="next" value="{{ next }}" />  
</form>

<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Iygubljneo ?</a></p> -->

{% endblock %}