#content {
    margin-left: 50px;
    margin-top: 30px;
}

.navbar-custom {
    background-color: #16a085;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

h2 {
    margin-top: 100px;
}

#leaderboard {
    width: 30%;
}

#question {
    font-size: 150%;
    font-weight: 500;
}

